@tailwind base;
@tailwind components;
@tailwind utilities;


/* Global CSS */ 

html {
  scroll-behavior: smooth;
  font-family: 'Raleway', Menlo;
}

img {
  border-radius: 4px;
}

body {
  --black: #000000;
  --ash-black: #444343;
  --white: #f8f0e5;
  --sky: #00ccff;
  --green: #57d6b6;
  --blue: #1300ff;
  --dusk: #802bff;
  --purple: #f6eefc;
  --pink: #ff0066;
  --red: #ff0000;
  --orange: #fd7702;
  --yellow: #ffbb00;

  --background: var(--purple);
  --accent: var(--white);

  margin: 0;
  padding: 0;
  background-color: var(--background);
  color: var(--accent);
}


/* Global CSS */ 



/* Horizontal Scroll CSS */ 

.slide {
  width: 85vh;
  height: 85vh;
  margin-top: 3px;
}
.wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  scroll-snap-type: inline mandatory;
  scroll-snap-align: start;
}
.one {
  background: #deeee3;
  font-size: 4vh;
  overflow: hidden;
  
}
.two {
  background: #badfd6;
  font-size: 4vh;
}
.three {
  background: #b5d1d1;
  font-size: 4vh;
}
.four {
  background: #afd6d5;
  font-size: 4vh;
}

.custom-reasons {
  color: #FFF1DC;
  font-family: 'Lato', ui-monospace;
  font-size: 6vh;
} .reasons-face {
  color: #000000;
} 

.yourface {
    color:#802bff;
    position: relative;
    top: -5vh;
    left: 38vw;
    right: 0;
    margin: 0;
    padding: 2px;
    max-width: auto;
  } 
  
  .yourfaceleft {
    position: relative;
    top: -2vh;
    margin: 0;
    width: 28%;
   } .yourfaceleft img {
    float: left; 
    margin-right: 32%;
  } .yourfaceleft p {
    height: 100px;
  line-height: 900%;
  }
  .yourfaceright {
    
    position: relative;
    top: -18vh;
    left: 54vh;
    margin: 0;
    width: 35%;
  } 

.custom-i {
  color: #FFF1DC;
  font-family: 'Lato', ui-monospace;
  font-size: 6vh;
}

.custom-love {
  color: #FFF1DC;
  font-family: 'Lato', ui-monospace;
  font-size: 6vh;
}

.custom-you {
  color: #FFF1DC;
  font-family: 'Lato', ui-monospace;
  font-size: 6vh;
}

/* Horizontal Scroll CSS */ 



/* Top Images CSS */ 

.outer-wrapperimg {
  position: relative;
  
}

.wrapperimg {
  width: 600%;
  max-width: 600vw;
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
  gap: 0.2%;
}

.topimg {
    transition: transform .2s; /* Animation */
    margin: 0 auto;
  }
  
.topimg:hover {
    transform: scale(1.02);
    border-radius: 4px;
}

/* Top Images CSS */ 



/* Scrollbar */ 

::-webkit-scrollbar {
  height: 2px;
  width: 1px;
  background: var(--background);
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(
    90deg,
    rgb(224, 162, 243) 0%,
    rgb(224, 162, 243) 10%,
    rgb(228, 144, 217)  20%,
    rgb(228, 144, 217) 30%,
    rgb(215, 151, 238)  40%,
    rgb(215, 151, 238) 50%,
    rgb(215, 151, 238)  60%,
    rgb(228, 144, 217)  70%,
    rgb(228, 144, 217) 80%,
    rgb(224, 162, 243) 90%,
    rgb(224, 162, 243) 100%
);
  -webkit-border-radius: 1ex;
}

::-webkit-scrollbar-corner {
  background: var(--background);
}

/* Scrollbar */ 



/* Parallax Text */ 

section {
  padding-top: 0vh;
  padding-bottom: 0vh;
  position: relative;
  font-style: italic;
}

.progress {
  position: fixed;
  left: 0;
  right: 0;
  height: 5px;
  background: var(--accent);
  bottom: 100px;
}

.parallax {
  overflow: hidden;
  letter-spacing: -0px;
  line-height: 1.2;
  margin: 0;
  white-space: nowrap;
  display: flex;
  flex-wrap: nowrap;
}

.parallax .scroller {
  font-weight: 600;
  text-transform: none;
  font-size: 6vh;
  display: flex;
  white-space: nowrap;
  display: flex;
  flex-wrap: nowrap;
  margin-bottom: 1px;
  text-shadow: -0.1px 0.1px 2px #242222,
  0.1px 0.1px 2px #242222,
  0.1px -0.1px 0 #242222,
				  -0.1px -0.1px 0 #242222;
}
  

.parallax span {
  display: block;
  margin-right: 100px;
}

/* Parallax Text */ 



/* Footer */ 

.footer {
  position: relative;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 0.2rem;
  background-color: #eadcf5;
  text-align: center;
  font-family: 'Lato', Menlo;
  font-weight: bold;
  font-size: small;
}

/* Footer */ 
