@tailwind base;
@tailwind components;
@tailwind utilities;

.slide {
  width: 55vw;
  height: 70vh;
}
.wrapper {
  display: flex;
  flex-direction: row;
  width: 220vw;
  scroll-snap-type: inline mandatory;
  scroll-snap-align: start;
}
.one {
  background: hsl(17, 66%, 84%);
  font-size: 4vh;
}
.two {
  background: #a3f3d3;
  font-size: 4vh;
}
.three {
  background: #0bbaa0;
  font-size: 4vh;
}
.four {
  background: #00dfdf;
  font-size: 4vh;
}
