@tailwind base;
@tailwind components;
@tailwind utilities;


/* Global CSS */ 

html {
  scroll-behavior: smooth;
  font-family: 'Raleway', Menlo;
}



body {
  --black: #000000;
  --ash-black: #444343;
  --white: #f8f0e5;
  --sky: #00ccff;
  --green: #57d6b6;
  --blue: #1300ff;
  --dusk: #802bff;
  --purple: #f6eefc;
  --pink: #f87481cc;
  --red: #ff1919;
  --orange: #f8ceaee0;
  --yellow: #ffbb00;

  --background: var(--purple);
  --accent: var(--white);

  margin: 0;
  padding: 0;
  background-color: var(--background);
  color: var(--accent);
}


/* Global CSS */ 



/* Horizontal Scroll CSS */ 


.slide {
  width: 85vh;
  height: 85vh;
  margin-top: 3px;
  max-height: 100%;
}
.wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  scroll-snap-type: inline mandatory;
  scroll-snap-align: start;
}
.one {
  background: #deeee3;
  font-size: 4vh;
  overflow: hidden;
}
.two {
  background: #badfd6;
  font-size: 4vh;
  overflow: hidden;
}
.three {
  background: #b5d1d1;
  font-size: 4vh;
}
.four {
  background: #afd6d5;
  font-size: 4vh;
}

.custom-reasons {
  color: #FFF1DC;
  font-family: 'Lato', ui-monospace;
  font-size: 6vh;
} 

.reasons-face {
  color: #000000;
} 

  .yourfaceleft {
    position: relative;
    top: -3vh;
    margin-left: 0.4vh;
    width: 26vh;
   } 
   .yourfaceleft picture {
    width: 100%;
    float: left;
    position: relative;
  } 
  .yourfaceleft img {
    border-radius: 4px;
  }
  .yourfaceleft p {
    position: relative;
    width: 23vh;
    left: 24.5vh;
    top: -15vh;
    font-size: 2rem;
    font-weight: 600;
    margin: 0 auto;
    white-space: normal;
    text-align: center;
  }

  .favthing {
    position: relative;
    bottom: 4vh;
    left: 3vh;
    white-space: normal;
    width: 40vh;
    text-align: center;
    font-size: 1.5rem;
    margin: 0 auto;
    float: left;
  }

  .yourfaceright {
    position: relative;
    top: 4vh;
    float: right;
    margin-right: 0.2vh;
    width: 40%;
  } 
  .yourfaceright img {
    border-radius: 20px;
  }
  .yourfaceright p {
    white-space: normal;
    text-align: center;
    margin-top: 5.5vh;
    font-size: 1.7rem;
  }

  .yourfacebpic {
    top: 0vh;
    left: 1vh;
    float: left;
    width: 45vh;
    display: flex;
    position: relative;
  }

  .yourfacebpic img {
    border-radius: 1px; 
  }



.custom-i {
  color: #FFF1DC;
  font-family: 'Lato', ui-monospace;
  font-size: 6vh;
}

.slidetwocontainer {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
}

.leftside {
  float: left;
  width: 100%;
}

.leftside .lspicandwords {
  position: relative;
  bottom: 2vh;
  width: 28%;
  margin-bottom: 0vh;
}

.leftside .maintxt {
  float: right;
  position: relative;
  bottom: 10vh;
  left: 6vh;
  width: 0;
}


.leftside .leftsent {
  white-space: normal;
  text-align: center;
  position: relative;
  width: 60%;
  left: 3%;
  margin-top: 1%;
  margin-bottom: 3%;
  font-size: 88%;
}

.leftside .bpictwo {
  width: 50%;
  display: flex;
  margin-left: 12%;
}


.rightside {
  color: #000000;
  position: relative;
  float: right;
  width: 34%;
  bottom: 25vh;
}

.rightside img {
  width: 100%;
}

.rightside p {
  text-align: center;
  white-space: normal;
}


.custom-love {
  color: #FFF1DC;
  font-family: 'Lato', ui-monospace;
  font-size: 6vh;
}

.custom-you {
  color: #FFF1DC;
  font-family: 'Lato', ui-monospace;
  font-size: 6vh;
}


/* Horizontal Scroll CSS */ 



/* Top Images CSS */ 


.outer-wrapperimg {
  position: relative;
}

.outer-wrapperimg img {
  border-radius: 4px;
  
}

.wrapperimg {
  width: 700%;
  max-width: 700vh;  
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
  gap: 0.2%;
  overflow: hidden;
  
}

.topimg {
    transition: transform 0.5s; /* Animation */
    margin: 0 auto;
  }
  
.topimg:hover {
  transform: scale(1.05);
    
}


/* Top Images CSS */ 



/* Scrollbar */ 


::-webkit-scrollbar {
  height: 0.4vh;
  width: 0.1vh;
  background: var(--background);
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(
    90deg,
    rgb(224, 162, 243) 0%,
    rgb(224, 162, 243) 10%,
    rgb(228, 144, 217)  20%,
    rgb(228, 144, 217) 30%,
    rgb(215, 151, 238)  40%,
    rgb(215, 151, 238) 50%,
    rgb(215, 151, 238)  60%,
    rgb(228, 144, 217)  70%,
    rgb(228, 144, 217) 80%,
    rgb(224, 162, 243) 90%,
    rgb(224, 162, 243) 100%
);
  -webkit-border-radius: 5ex;
  border-radius: 50px;
}

::-webkit-scrollbar-corner {
  background: var(--background);
}


/* Scrollbar */ 



/* Parallax Text */ 


section {
  padding-top: 0.3vh;
  padding-bottom: 0vh;
  position: relative;
  font-style: italic;
}

.progress {
  position: fixed;
  left: 0;
  right: 0;
  height: 5px;
  background: var(--accent);
  bottom: 100px;
}

.parallax {
  overflow: hidden;
  letter-spacing: -0px;
  line-height: 1.2;
  margin: 0;
  white-space: nowrap;
  display: flex;
  flex-wrap: nowrap;
}

.parallax .scroller {
  font-weight: 600;
  text-transform: none;
  font-size: 3.8vh;
  display: flex;
  white-space: nowrap;
  display: flex;
  flex-wrap: nowrap;
  margin-bottom: 0.1vh;
  padding-bottom: 0.2vh;
  text-shadow: -0.1px 0.1px 2px #242222,
  0.1px 0.1px 2px #242222,
  0.1px -0.1px 0 #242222,
				  -0.1px -0.1px 0 #242222;
}
  

.parallax span {
  display: block;
  margin-right: 3.5vh;
}

/* Parallax Text */ 



/* Footer */ 


.footer {
  position: relative;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 0.2rem;
  background-color: #eadcf5;
  text-align: center;
  font-family: 'Lato', Menlo;
  font-weight: bold;
  font-size: small;
}


/* Footer */ 




/* Password Page */ 


.submitbutton {
  color: black;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  font-family: 'Roboto Slab', Helvetica;
  position: relative;
  overflow: hidden;
  background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
  background-size: 400%;
  z-index: 1;
  animation: glow 15s linear infinite;
}

.submitbutton:before {
  content: '';
  position: absolute;
  background: inherit;
  top: -1rem;
  right: -1rem;
  bottom: -1rem;
  left: -1rem;
  border-radius: 1rem;
  filter: blur(1rem);
  opacity: 0;
  z-index: -1;
}

.submitbutton:hover:before {
  opacity: 1;
  animation: glow-hover 2s linear infinite;
}

@keyframes glow {
  0% {
    background-position: 0%;
    opacity: 1;
  }
  50% {
    background-position: 400%;
  }
  100% {
    background-position: 800%;
    opacity: 1;
  }
}

@keyframes glow-hover {
  0% {
    background-position: 800%;
    opacity: 0.5;
  }
  50% {
    background-position: 400%;
    opacity: 1;
  }
  100% {
    background-position: 0%;
    opacity: 0.5;
  }
}


input[type="text"] {
  border: 0.15rem solid #000000;
  outline: none; /* remove the default outline when the field is focused */
}

input[type="text"]:focus {
  border-color: #db5353; /* change the border color when the field is focused */
}


/* Password Page */ 